@font-face {
	font-family: IBMPlexMono;
	src: url(/assets/fonts/IBMPlexMono-Regular.woff);
}

:root {
	--grey: #533C33;
	--white: #ffffff;
	// --background: #E9E7E2;
	--textBackground: #232828;

	--background: #E1E0DC;
	--backgroundD1: #E3E1D7;
	--backgroundD2: #E1DBCD;
	--backgroundL1: #E9E7E2;
	--backgroundL2: #F2EFE6;
	--backgroundL3: #EFEEE7;

}

body {
	font-family: IBMPlexMono, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	font-size: 13px;
	line-height: 13px;
	color: var(--grey);
	// color: #727679;

	margin: 0;
	padding: 0;
	// text-shadow: 0px 0px 5px rgba(170, 144, 112, 0.385);
}

h1 {
	font-size: 15px;
	color: var(--grey);
	margin: 0;
}

.card {
	position: absolute;
	padding: 1%;
	border-radius: 2px;
	box-shadow: 1px 1px 7px rgba(137, 125, 111, 0.448);;
}

.slim {
	padding: 0.5% 1%;
}

.view {
	padding: 0;
}

.card.general {
	left: 10px;
	top: 10px;
	background-color: var(--backgroundL3);
}

.card.data-table {
	left: 20px;
	top: 120px;
	background-color: var(--backgroundL2);
}

.card.orbits-table {
	left: 10px;
	top: 340px;
	background-color: var(--backgroundL1);
}

.card.stability {
	left: 60px;
	top: 300px;
	background-color: var(--backgroundD2);
}

.card.seed {
	left: 10px;
	top: 10px;
	background: var(--backgroundL1);
}

.card.console {
	left: 10px;
	bottom: 30px;
	background: var(--backgroundL3);
}

.card.top-view {
	left: 78vw;
	bottom: 68vh;
	width: 16vw;
	height: 30vh;
}

.card.side-view {
	left: 83%;
	bottom: 34%;
	width: 16vw;
	height: 30vh;
}

.card.mini-view {
	left: 22%;
	bottom: 1%;
	width: 12%;
	height: 21%;
}

.card.time-container {
	top: 4px;
	left: 230px;
	background-color: var(--backgroundD1);
}

.label {
	text-align: center;
	color: var(--grey);
}

#time-container {
	// position: fixed;
	bottom: 10px;
	width: 160px;
}

#gui {
	position: absolute;
	top: 12px;
	right: 0px
}

#console {
	width: 300px;
}

table, th, td {
	padding: 3px 5px;
	border-collapse: collapse;
}

table {
	border: 1px dashed var(--grey);
	// position: fixed;
}

th  {	
	border: 1px dashed var(--grey);
	text-align: left;
	border-bottom: 1px dashed var(--grey);
	vertical-align: bottom;
}

#orbits-table th {
	max-width: 110px;
	
}

td {
	width: 70px;
	border-right: 1px dashed var(--grey);
}

#cpu {
	display: none;
}