@font-face {
	font-family: IBMPlexMono;
	src: url(../assets/fonts/IBMPlexMono-Regular.woff);
}

:root {
	--grey: #979797;
	--white: #ffffff;
	--background: 29, 29, 29;
}

body {
	font-family: IBMPlexMono, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	font-size: 12px;
	color: var(--white);

	margin: 0;
	padding: 0;
}

.label {
	text-align: center;
}

#gui {
	position: absolute;
	top: 12px;
	right: 0px
}

#data-table {
	position: fixed;
	top: 20px;
	left: 20px;
}

table, th, td {
	padding: 3px 5px;
	border-collapse: collapse;
	background-color: rgba(var(--background), 0.3);
}

table {
	border: 1px dashed var(--grey);
}

th  {	
	border: 1px dashed var(--grey);
	text-align: left;
}

td {
	border-right: 1px dashed var(--grey);
}